<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <table border="0">
        <tr>
            <th><label for="name">Enter username</label></th>
            <th><input type="text" th:field="*{username}" id="name"/></th>
        </tr>

        <tr>
            <th><label for="lastName">Enter password</label></th>
            <th><input type="text" th:field="*{password}" id="lastName"/></th>
        </tr>

        <tr>
            <th><label for="email">Enter email</label></th>
            <th><input type="text" th:field="*{email}" id="email"/></th>
        </tr>

        <tr>
            <th><label>Select the role: </label></th>
            <th>
                <input type="checkbox" name="allRoles"
                th:each="role: ${roles}"
                th:text="${role.getRoleName()}"
                th:value="${role.id}"
                th:field="*{roles}">
            </th>
        </tr>

        <tr align="right">
            <th></th>
            <th><input type="submit" value="Add"/></th>
        </tr>
    </table>
</form>
<a th:href="@{/admin/users}">To the list of users</a>
<div><a th:href="@{/logout}">Logout</a></div>
</body>
</html>