<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<!--Navigation panel-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <a id="headerUserName"></a>
            <a> with roles: </a>
            <a id="headerRole"></a>
        </span>
        <a class="nav-link text-right" href="/logout">Logout</a>
    </div>
</nav>
<div class="d-flex align-items-start">
    <!--Sidebar-->
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>
    <!--Main content-->
    <div class="col-10">
        <div class="tab-content bg-light" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <!--Admin panel-->
                <br>
                <div class="d-flex align-content-center flex-wrap">
                    <h1>Admin panel</h1>
                </div>
                <!--Tabs-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab"
                                data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab"
                                aria-controls="home" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab"
                                data-bs-toggle="tab" data-bs-target="#newUser"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!--Table of Users-->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <span>All users</span>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Password</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Add new user-->
                    <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-user-tab">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <div class="h4 m-0">Add new user</div>
                            </div>
                            <div class="card-body">
                                <form id="formNewUser">
                                    <div class="mb-3">
                                        <label for="firstNameNew"
                                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                                               style="width: 350px;">First name</label>
                                        <input type="text"
                                               name="firstName"
                                               class="form-control mx-auto"
                                               id="firstNameNew"
                                               style="width: 350px;"
                                               placeholder="firstName"
                                               autocomplete="off"/>
                                    </div>

                                    <div class="mb-3">
                                        <label for="lastNameNew"
                                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                                               style="width: 350px;">Last name</label>
                                        <input type="text"
                                               name="lastName"
                                               class="form-control mx-auto"
                                               id="lastNameNew"
                                               style="width: 350px;"
                                               placeholder="lastName"
                                               autocomplete="off"/>
                                    </div>

                                    <div class="mb-3">
                                        <label for="passwordNew"
                                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                                               style="width: 350px;">Password</label>
                                        <input type="password" name="password"
                                               class="form-control mx-auto"
                                               style="width: 350px;"
                                               id="passwordNew"
                                               placeholder="password"
                                               autocomplete="off"/>
                                    </div>

                                    <div class="mb-3">
                                        <label for="ageNew"
                                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                                               style="width: 350px;">Age</label>
                                        <input type="text" name="age"
                                               class="form-control mx-auto"
                                               style="width: 350px;"
                                               id="ageNew"
                                               placeholder="age"
                                               autocomplete="off"/>
                                    </div>

                                    <div class="mb-3">
                                        <label for="emailNew"
                                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                                               style="width: 350px;">Email</label>
                                        <input type="email"
                                               name="email"
                                               class="form-control mx-auto"
                                               style="width: 350px;" id="emailNew" placeholder="email"
                                               autocomplete="off"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                                               for="rolesNew">Role</label>
                                        <select id="rolesNew" name="roles" size="2" multiple required
                                                class="form-select mx-auto"
                                                aria-label="Default select" style="width: 350px;">
                                            <option value="1">ADMIN</option>
                                            <option value="2" selected="selected">USER</option>
                                        </select>
                                    </div>
                                    <div class="d-grid col-6 mx-auto">
                                        <input type="submit" class="btn btn-success d-block mx-auto mt-3 fs-3"
                                               style="font-size:5px;"
                                               value="Add new user"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--User's Information-->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="container-fluid">
                    <br>
                    <h1>User information-page</h1>
                    <div class="card w-55">
                        <div class="card-header d-flex align-items-center">
                            <span>About user</span>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Password</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                </tr>
                                </thead>
                                <tbody id="userTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal for Edit-->
<div class="modal fade" id="editModal" tabindex="-1"
     aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editLabel">Edit user</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formEditUser">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="idEdit" class="d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 fw-bold">ID</label>
                        <input type="text" name="id"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="idEdit" disabled/>
                    </div>
                    <div class="mb-3">
                        <label for="firstNameEdit"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">First name</label>
                        <input type="text" name="firstName"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="firstNameEdit"/>
                    </div>

                    <div class="mb-3">
                        <label for="lastNameEdit"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Last name</label>
                        <input type="text" name="lastName"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="lastNameEdit"/>
                    </div>

                    <div class="mb-3">
                        <label for="passwordEdit"
                               class="form-label d-block mx-auto pt--1 mt-3 mb-0 text-center fs-5 fw-bold">Password</label>
                        <input type="password" name="password"
                               class="form-control mx-auto"
                               style="width: 250px;"
                               id="passwordEdit"/>
                    </div>

                    <div class="mb-3">
                        <label for="ageEdit"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Age</label>
                        <input type="text" name="age"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="ageEdit"/>
                    </div>

                    <div class="mb-3">
                        <label for="emailEdit"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Email</label>
                        <input type="email" name="email"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="emailEdit"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold"
                               for="rolesEdit">Role</label>
                        <select id="rolesEdit"
                                class="form-select mx-auto"
                                name="roles"
                                multiple required
                                size="2"
                                style="width: 250px">
                            <option value="1">ADMIN</option>
                            <option value="2">USER</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary fs-5"
                            id="editFormCloseButton"
                            data-bs-dismiss="modal">Close
                    </button>
                    <input type="submit"
                           class="btn btn-primary fs-5"
                           value="Edit"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal for Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1"
     aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete">Delete user</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formDeleteUser">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="idDelete" class="d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 fw-bold">ID</label>
                        <input type="text" name="id"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="idDelete" disabled/>
                    </div>
                    <div class="mb-3">
                        <label for="firstNameDelete"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">First name</label>
                        <input type="text" name="firstName"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="firstNameDelete" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="lastNameDelete"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Last name</label>
                        <input type="text" name="lastName"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="lastNameDelete" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="passwordDelete"
                               class="form-label d-block mx-auto pt--1 mt-3 mb-0 text-center fs-5 fw-bold">Password</label>
                        <input type="password" name="password"
                               class="form-control mx-auto"
                               style="width: 250px;"
                               id="passwordDelete" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="ageDelete"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Age</label>
                        <input type="text" name="age"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="ageDelete" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="emailDelete"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Email</label>
                        <input type="text" name="email"
                               class="form-control mx-auto"
                               style="width: 250px"
                               id="emailDelete" disabled/>
                    </div>
                    <div class="mb-3">
                        <label for="rolesDelete"
                               class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Role</label>
                        <input type="text" name="roles"
                               multiple disabled required
                               class="form-select mx-auto"
                               aria-label="Default select"
                               style="width: 250px"
                               id="rolesDelete" readonly/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary fs-5"
                            id="deleteFormCloseButton"
                            data-bs-dismiss="modal">Close
                    </button>
                    <input type="submit" class="btn btn-primary fs-5" value="Delete"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/UsersTable.js"></script>
<script type="text/javascript" src="../static/AddNewUser.js"></script>
<script type="text/javascript" src="../static/EditModal.js"></script>
<script type="text/javascript" src="../static/DeleteModal.js"></script>
<script type="text/javascript" src="../static/FindUser.js"></script>
<script type="text/javascript" src="../static/UserToModal.js"></script>
<script type="text/javascript" src="../static/AuthUserInfo.js"></script>
</body>
</html>