<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Admin, welcome spring boot security page!</h1>
<table border="0">
    <tr>
        <th>ID</th>
        <td th:text="${user.id}"/>
    </tr>
    <tr>
        <th>Username</th>
        <td th:text="${user.username}"/>
    </tr>
    <tr>
        <th>Password</th>
        <td th:text="${user.password}"/>
    </tr>
    <tr>
        <th>email</th>
        <td th:text="${user.email}"/>
    </tr>
    <tr>
        <th>Role</th>
        <td th:text="${user.roleToString()}"/>
    </tr>
</table>
<div align="left">
    <a href="users.html" th:href="@{/admin/users}">Show all users</a>
</div>

<a th:href="@{/logout}">Logout</a>

</body>
</html>