<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <table border="0">
    <tr>
      <th><label for="name">Enter username</label></th>
      <th><input type="text" th:field="*{username}" id="name"/></th>
    </tr>

    <tr>
      <th><label for="lastName">Enter password</label></th>
      <th><input type="text" th:field="*{password}" id="lastName"/></th>
    </tr>

    <tr>
      <th><label for="email">Enter email</label></th>
      <th><input type="text" th:field="*{email}" id="email"/></th>
    </tr>

    <tr>
      <th><label>Select the role: </label></th>
      <th>
        <input type="checkbox" name="allRoles"
               th:each="role: ${roles}"
               th:text="${role.getRoleName()}"
               th:value="${role.id}"
               th:field="*{roles}">
      </th>
    </tr>

    <tr align="right">
      <th></th>
      <th><input type="submit" value="Update"/></th>
    </tr>
  </table>
</form>
<div align="right"><a th:href="@{/logout}">Logout</a></div>
</body>
</html>