<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <title>Login page</title>
</head>
<body>
<div class="content">
    <form method="POST" action="/login">
        <div class="text-center p-5">
            <div class="form-floating-xl w-25 mx-auto lg">
                <p class="h2 fw-bold" style="text-align: left">Please sign in</p>
                <input type="email" class="form-control"  name="email" placeholder="Email address"/>
            </div>

            <div class="form-floating-xl mb-2 w-25 mx-auto lg">
                <input type="password" class="form-control" name="pass" placeholder="Password"/>
            </div>

            <button type="submit" class="btn btn-primary btn-lg w-25">Sign in</button>

        </div>
    </form>
</div>

<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</body>
</html>