<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>

<div>
    <a href="addUser.html" th:href="@{/admin/addUser}">Add user</a>
</div>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.password}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.roleToString()}"/>
            <td>
                <form th:method="DELETE" th:action="@{'/admin/' + ${user.id} + '/delete'}">
                    <input type="submit" value="Delete" style="width: 70px;"/>
                </form>
                <form th:action="@{'/admin/' + ${user.id} + '/edit'}">
                    <input type="submit" value="Edit" style="width: 70px;"/>
                </form>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/admin}">To the main page</a>
</div>
<div align="left"><a th:href="@{/logout}">Logout</a></div>

</body>
</html>